<section class="container">
    <div class="row">
        <h2>Hello {{name}}, the courses listed below are alloted to you by the admin please adhere to the respective dates.</h2>
    </div>
    <div class="grid3 mt">
        <div *ngFor="let course of courses">
            <mat-card class="example-card">
                <mat-card-header class="mb">
                    <!-- <div mat-card-avatar></div> -->
                    <mat-card-title>{{course.name}}</mat-card-title>
                    <mat-card-subtitle>{{course.level | uppercase }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{course.image}}" alt="course-image" width="100%" height="200px">
                <mat-card-content class="mt mb">
                    <p>
                        {{ course.description.length > 200 ? (course.description | slice:0:200) + '..' :
                        course.description }}
                    </p>
                </mat-card-content>
                <!-- Accordion -->
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Lectures List
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <!-- Lectures Table -->
                        <div class="maxheight200">
                            <table mat-table [dataSource]="course.lectures" class="mb">
                                <!-- Instructor Column -->
                                <ng-container matColumnDef="Instructor">
                                    <th mat-header-cell *matHeaderCellDef> Instructor </th>
                                    <td mat-cell *matCellDef="let lecture"> {{name}} </td>
                                </ng-container>
                                <!-- date Column -->
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let lecture"> {{lecture | date}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
    </div>
</section>