.login-form {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    padding: 5rem 0;
}

.input-full-width {
    width: 100%;
}

.submit {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    padding: 1.5rem 0;
}